# HTTP port of zenodotus server
GRAPHQL_ZENODOTUS_HTTP_PORT=4001

# URL to repository where your graphql schema is stored
GRAPHQL_ZENODOTUS_CONTRACT_URL=https://login:token@host/your-contract-repo.git

# Path to you .graphql files
GRAPHQL_ZENODOTUS_SCHEMAS_GLOB=./graphql/**/*.graphql

# URL of introspection server. This URL will be used by frontend
# to fetch schema. So don't forget to expose it.
GRAPHQL_ZENODOTUS_INTROSPECTION_BASE_URL=http://0.0.0.0:4002

# Says that you want to see logs of introspection server
# together with main zenodotus server logs. Just keep it 'true'
GRAPHQL_ZENODOTUS_INHERIT_STDOUT=true
